<html>
    <head>
       <script src="angular.min.js"></script>
       <script src="Eight.js"></script>
    </head>
    <body ng-app="myApp" ng-controller="Controller" >
              
              <h1>Table Generator Program</h1>
              <input type="button" value="Generate table of 5" ng-click="fun()"/>
                <br>
            
            <div id="#divID">
                      5*{{i}}={{5*i}}
                    </div>
            <table>
                        <tr>
                               <br><div ng-model="val">  5*{{i}}={{5*i}}
                                   
                               </div>
                               
                        </tr>
                    </table> 
                    
           <!-- <br>
            <div ng-repeat="n in numbers">
                <p>{{num1}}*{{n}}={{num1 * n}}</p>
            </div>-->
    </body>            
    </body>
</html>

